@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mulish Font Family */
/* cyrillic-ext */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/mulish/v13/1Ptvg83HX_SGhgqk0gotcqA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

:root {
  /* Default Colors */
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background */
  --background-end-rgb: 0, 0, 0; /* Black background */
  --text-dark: #ffffff; /* White text */
  --text-light: #ffffff; /* White text */
  --text-gray: #b1b1b1; /* Gray text */
  --text-link: #7187ff; /* Blue link */
  --text-quote: #7d7d7d; /* Gray quote */
  --background-dark: #000000; /* Black background */
  --background-white: #ffffff; /* White background (for contrast elements) */
  --background-border: #1b1b1c; /* Dark border color */
  --border-black: #ffffff; /* White borders */
}

body {
  font-family: 'Mulish', sans-serif; 
  color: rgb(var(--foreground-rgb)); 
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-heading {
  color: #fff;
  text-align: left;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2
}

.main-heading.home-hero {
  text-align: left;
  flex: 0 auto;
  align-self: auto;
  min-width: 900px
}

.main-heading.text-center {
  text-align: center;
  max-width: none
}

.main-heading.text-center.max-w-700px {
  max-width: 700px
}

.main-heading.remove-margin {
  color: #e0e0e0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem
}

.main-heading.max-w-800px {
  max-width: 800px
}

.button-primary {
  color: #f2f2f2;
  text-align: center;
  letter-spacing: -.14px;
  text-transform: capitalize;
  background-color: #4663fe;
  border-radius: 6px;
  margin-top: 0;
  margin-right: 16px;
  padding: .5rem 2rem;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  transition: all .2s
}

.button-primary:hover {
  color: #fff;
  background-color: #7493ef
}

.button-primary:active {
  background-color: #43464d
}

.button-secondary {
  color: #fff;
  letter-spacing: -.14px;
  background-color: #0000;
  border: 1px solid #383838;
  border-radius: 6px;
  padding: .5rem 2rem;
  font-size: 16px;
  font-weight: 500;
  transition: all .2s
}

.button-secondary:hover {
  color: #000;
  background-color: #fff
}

.text-block-21 {
  color: #7d7d7d;
  font-size: 16px;
  line-height: 19.36px
}

.text-block-8 {
  font-size: 1.5rem;
}

.text-block-11 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none
}

.footer-label {
  color: #7d7d7d;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px
}

.footer-label.mb-8px {
  margin-bottom: 8px
}

.footer-text {
  color: #7d7d7d;
  text-decoration: none;
  transition: all .2s
}

.footer-text:hover {
  color: #fff
}

.product-card {
  background-color: #2a2a2a;
  border-radius: 8px;
  height: 476px;
  padding: 32px 24px
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #e34d2b;
  border-radius: 8px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  padding: 32px;
  display: grid
}

.div-block-4.agency-color {
  background-color: #9b9b9b
}

.div-block-4.startup-color {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(90deg,#c6c6c6,#fff)
}

.div-block-4.mr-4 {
  margin-right: 16px
}